{% extends "layout.html" %}

{% block contents %}
	<div class="llArticleDelete">
		<div class="alert alert-warning alert-dismissible" role="alert">

			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span>
			</button>

			<strong>경고!</strong> 댓글이 완전히 삭제되니, 다시 한번 확인하시기 바랍니다.
			
		</div>

		<form action="{{ url_for('comment_delete',  cid=cid) }}" method="post" class="add-entry">
			<input type="password" name="password" class="form-control" id="article_create_title" placeholder="password을 입력하세요.">
			<button type="submit" class="btn btn-danger">댓글삭제</button>
		</form>
	</div>
{% endblock %}

